.container {
  width: 100%;
}
.mmb_productDetail {
  padding-bottom: .3rem;
}
.mmb_productDetail .title {
  height: 1.55rem;
  padding: .3rem .4rem;
  text-align: center;
  font-size: .3rem;
}
.mmb_productDetail .pic {
  width: 3.4rem;
  height: 2.1rem;
  margin: 0 auto;
}
.mmb_tab {
  width: 100%;
  background-color: #ffbf0c;
}
.mmb_tab a {
  float: left;
  width: 33.3%;
  line-height: .65rem;
  text-align: center;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  font-size: .24rem;
  color: #fff;
  font-weight: bold;
}
.mmb_tab a.current {
  background-color: #ff9916;
}
.mmb_tab a:last-child {
  border-right: none;
}
.mmb_plist {
  padding: .3rem 0;
}
.mmb_plist table {
  margin-bottom: .3rem;
}
.mmb_plist table img {
  width: .3rem;
  height: .3rem;
  margin: 0 auto;
}
.mmb_plist .info {
  border-top: 1px solid #ccc;
  padding: .2rem;
  line-height: .4rem;
}
.mmb_netComment .title {
  height: .7rem;
  background-color: #ccc;
  text-align: center;
  line-height: .7rem;
  font-size: .2rem;
  font-weight: bold;
}
.mmb_netComment .info .commentItem {
  padding: .2rem .15rem;
  border-bottom: 1px solid #ccc;
}
.mmb_netComment .info .commentItem .itemTitle {
  line-height: .3rem;
}
.mmb_netComment .info .commentItem .itemContent {
  line-height: .25rem;
}
.mmb_more {
  padding: .3rem .15rem 0;
}
.mmb_more button {
  width: 100%;
  height: .63rem;
  font-size: .3rem;
  border-radius: 5px;
}
