img {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  width: 100%;
  background-color: #efefef;
}
.mmb_nav {
  margin-top: .2rem;
  padding: .2rem 0;
  background-color: #fff;
}
.mmb_nav li {
  width: 25%;
  height: 1.7rem;
  float: left;
}
.mmb_nav li a {
  display: block;
  overflow: hidden;
}
.mmb_nav li a img {
  width: .8rem;
  height: .8rem;
  margin: .15rem auto;
}
.mmb_nav li a p {
  text-align: center;
  font-size: .3rem;
}
.mmb_recommd {
  margin-top: .1rem;
  background-color: #fff;
}
.mmb_recommd .title {
  padding: .2rem;
  background-color: #ff9e20;
  font-size: .3rem;
  color: #fff;
}
.mmb_recommd .title img {
  width: .4rem;
  height: .4rem;
}
.mmb_recommd .content .item {
  height: 2.6rem;
  background-color: #fff;
  padding: .3rem 0;
  border-bottom: 1px solid #ccc;
  padding-right: .1rem;
}
.mmb_recommd .content .item .pic {
  float: left;
  width: 2.3rem;
  height: 100%;
}
.mmb_recommd .content .item .pic img {
  height: 2rem;
}
.mmb_recommd .content .item .info {
  height: 100%;
  overflow: hidden;
}
.mmb_recommd .content .item .info .top {
  margin-bottom: .6rem;
}
.mmb_recommd .content .item .info .top p {
  font-size: .28rem;
}
.mmb_recommd .content .item .info .top span {
  font-size: .2rem;
  color: #ff6321;
}
.mmb_recommd .content .item .info .bottom {
  font-size: .2rem;
  color: #ccc;
}
.mmb_more {
  height: .9rem;
  background-color: #fff;
  padding: .2rem .2rem 0;
}
.mmb_more .moreBtn {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #ccc;
  font-size: .25rem;
  font-weight: 700;
}
.mmb_brandsort {
  margin-top: .2rem;
}
.mmb_brandsort .title {
  padding: .2rem;
  background-color: #ff9e20;
  font-size: .3rem;
  color: #fff;
}
.mmb_brandsort .title img {
  width: .4rem;
  height: .4rem;
}
.hide {
  display: none;
}
.show {
  display: block;
}
